<p>Dag {{firstName}} {{lastName}}</p>
<p>Er werd voor jou een account aangemaakt in de
  <strong>
    Vives Remote Lab Connection Applicatie
  </strong>.</p>
<p>Klik op onderstaande link om jouw account te activeren en je wachtwoord in te
  stellen:</p>
<a
  href='{activationUrl}'
  style='text-decoration:underline;'
>{{activationUrl}}</a>

<p style='margin-top: 48px;'>
  Remote Lab Connection | Medemogelijk gemaakt door
  <div style='display: flex; align-items: center; justify-content: flex-start;'>
    <svg
      width='136'
      height='28'
      viewBox='0 0 1360.52 281.41333'
      sodipodi:docname='rrf_combilogo_bleke_achtergrond_gefinancierd_eu.eps'
      xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape'
      xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:svg='http://www.w3.org/2000/svg'
    ><defs id='defs6'></defs><sodipodi:namedview
        id='namedview4'
        pagecolor='#ffffff'
        bordercolor='#666666'
        borderopacity='1.0'
        inkscape:pageshadow='2'
        inkscape:pageopacity='0.0'
        inkscape:pagecheckerboard='0'
      ></sodipodi:namedview><g
        id='g8'
        inkscape:groupmode='layer'
        inkscape:label='ink_ext_XXXXXX'
        transform='matrix(1.3333333,0,0,-1.3333333,0,281.41333)'
      ><g id='g10' transform='scale(0.1)'><path
            d='M 1914.84,107.719 H 4864.29 V 2110.56 H 1914.84 V 107.719'
            style='fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path12'
          ></path><path
            d='m 1971.56,164.93 h 2836.02 v 1890.7 H 1971.56 V 164.93'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path14'
          ></path><path
            d='m 3329.14,1643.68 59.84,43.67 59.85,-43.67 -22.78,70.63 60.79,43.67 h -74.93 l -22.93,71.48 -22.93,-71.56 -74.88,0.08 60.74,-43.67 -22.77,-70.63'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path16'
          ></path><path
            d='m 3019.45,1560.48 59.84,43.67 59.81,-43.67 -22.74,70.63 60.75,43.67 h -74.93 l -22.92,71.56 -22.93,-71.64 -74.89,0.08 60.74,-43.67 -22.73,-70.63'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path18'
          ></path><path
            d='m 2852.69,1519.23 -22.93,-71.64 -74.88,0.08 60.74,-43.67 -22.77,-70.63 59.84,43.67 59.84,-43.67 -22.77,70.63 60.74,43.67 h -74.88 l -22.93,71.56'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path20'
          ></path><path
            d='m 2769.57,1067.74 59.81,-43.67 -22.74,70.62 60.74,43.68 h -74.88 l -22.93,71.56 -22.93,-71.72 -74.92,0.16 60.78,-43.68 -22.77,-70.62 59.84,43.67'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path22'
          ></path><path
            d='m 2875.62,828.141 -22.93,71.558 -22.93,-71.64 -74.88,0.082 60.74,-43.672 -22.77,-70.629 59.84,43.75 59.84,-43.75 -22.77,70.629 60.74,43.672 h -74.88'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path24'
          ></path><path
            d='m 3102.65,601.109 -22.93,71.481 -22.89,-71.559 -74.92,0.078 60.74,-43.668 -22.73,-70.632 59.84,43.671 59.8,-43.671 -22.73,70.632 60.74,43.668 h -74.92'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path26'
          ></path><path
            d='m 3411.95,518.84 -22.93,71.558 -22.89,-71.636 -74.92,0.078 60.74,-43.668 -22.73,-70.633 59.84,43.672 59.8,-43.672 -22.77,70.633 60.78,43.668 h -74.92'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path28'
          ></path><path
            d='m 3721.25,601.109 -22.89,71.481 -22.97,-71.559 -74.84,0.078 60.7,-43.668 -22.73,-70.632 59.84,43.671 59.84,-43.671 -22.81,70.632 60.78,43.668 h -74.92'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path30'
          ></path><path
            d='m 3948.36,828.141 -22.97,71.558 -22.97,-71.64 -74.84,0.082 60.78,-43.672 -22.81,-70.629 59.84,43.75 59.84,-43.75 -22.81,70.629 60.78,43.672 h -74.84'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path32'
          ></path><path
            d='m 4105.47,1139.23 h -74.92 l -22.97,71.56 -22.89,-71.64 -74.92,0.08 60.78,-43.67 -22.74,-70.63 59.77,43.75 59.84,-43.75 -22.73,70.63 60.78,43.67'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path34'
          ></path><path
            d='m 3865.54,1334.31 59.84,43.67 59.85,-43.67 -22.81,70.63 60.78,43.59 h -74.85 l -22.97,71.56 -22.96,-71.64 -74.85,0.08 60.78,-43.59 -22.81,-70.63'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path36'
          ></path><path
            d='m 3699.22,1746.26 -22.89,-71.64 -74.92,0.16 60.7,-43.75 -22.73,-70.63 59.92,43.75 59.76,-43.75 -22.73,70.63 60.78,43.75 h -75 l -22.89,71.48'
            style='fill:#f0ef24;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path38'
          ></path><path
            d='m 5354.58,1788.68 v 71.16 h 183.81 v -168.25 c -17.87,-17.28 -43.75,-32.51 -77.65,-45.66 -33.89,-13.15 -68.23,-19.73 -102.99,-19.73 -44.18,0 -82.68,9.26 -115.51,27.8 -32.86,18.53 -57.53,45.04 -74.05,79.51 -16.52,34.47 -24.77,71.97 -24.77,112.5 0,43.97 9.22,83.06 27.65,117.25 18.44,34.18 45.42,60.4 80.95,78.65 27.09,14.02 60.79,21.03 101.12,21.03 52.44,0 93.39,-11 122.88,-32.99 29.47,-21.99 48.43,-52.39 56.89,-91.18 l -84.7,-15.84 c -5.95,20.74 -17.14,37.11 -33.56,49.11 -16.42,12 -36.93,18.01 -61.51,18.01 -37.26,0 -66.88,-11.81 -88.87,-35.44 -21.99,-23.62 -32.99,-58.67 -32.99,-105.15 0,-50.12 11.14,-87.72 33.42,-112.78 22.28,-25.07 51.47,-37.6 87.58,-37.6 17.87,0 35.77,3.51 53.73,10.52 17.95,7.01 33.37,15.5 46.24,25.49 v 53.59 h -97.67'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path40'
          ></path><path
            d='m 5798.24,1812.59 c -0.57,23.43 -6.63,41.24 -18.15,53.44 -11.53,12.19 -25.54,18.29 -42.05,18.29 -17.68,0 -32.27,-6.43 -43.79,-19.3 -11.53,-12.87 -17.2,-30.34 -17,-52.43 z m -4.61,-81.82 80.67,-13.54 c -10.37,-29.58 -26.75,-52.1 -49.12,-67.55 -22.38,-15.47 -50.38,-23.2 -83.98,-23.2 -53.2,0 -92.58,17.38 -118.11,52.15 -20.17,27.85 -30.25,62.99 -30.25,105.44 0,50.7 13.24,90.41 39.75,119.13 26.5,28.7 60.02,43.06 100.54,43.06 45.52,0 81.43,-15.03 107.75,-45.09 26.31,-30.06 38.9,-76.1 37.74,-138.13 h -202.81 c 0.57,-24.01 7.1,-42.69 19.59,-56.04 12.48,-13.35 28.04,-20.02 46.66,-20.02 12.68,0 23.34,3.46 31.98,10.38 8.65,6.91 15.17,18.05 19.59,33.41'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path42'
          ></path><path
            d='m 6138.47,1633.4 v 305.95 h 80.95 V 1633.4 Z m 0,347.43 v 74.9 h 80.95 v -74.9 z m -227.31,-41.48 h 44.94 v 23.04 c 0,25.74 2.75,44.95 8.22,57.62 5.47,12.68 15.55,23 30.25,30.97 14.69,7.97 33.27,11.96 55.74,11.96 23.05,0 45.62,-3.46 67.71,-10.37 l -10.96,-56.47 c -12.86,3.07 -25.25,4.61 -37.16,4.61 -11.72,0 -20.11,-2.74 -25.2,-8.21 -5.1,-5.48 -7.64,-15.99 -7.64,-31.55 v -21.6 h 60.5 v -63.67 h -60.5 V 1633.4 h -80.96 v 242.28 h -44.94 v 63.67'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path44'
          ></path><path
            d='m 6583.27,1633.4 h -80.96 v 156.14 c 0,33.03 -1.72,54.4 -5.18,64.1 -3.46,9.7 -9.07,17.24 -16.86,22.62 -7.77,5.37 -17.14,8.06 -28.08,8.06 -14.03,0 -26.6,-3.84 -37.75,-11.52 -11.13,-7.69 -18.77,-17.86 -22.9,-30.54 -4.13,-12.67 -6.19,-36.11 -6.19,-70.29 V 1633.4 h -80.95 v 305.95 h 75.19 v -44.94 c 26.69,34.57 60.3,51.85 100.83,51.85 17.86,0 34.18,-3.22 48.97,-9.65 14.79,-6.44 25.98,-14.65 33.57,-24.63 7.58,-9.99 12.86,-21.32 15.84,-34 2.98,-12.67 4.47,-30.82 4.47,-54.44 V 1633.4'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path46'
          ></path><path
            d='m 6834.2,1780.32 c -10.37,-3.45 -26.8,-7.59 -49.27,-12.39 -22.47,-4.8 -37.16,-9.5 -44.07,-14.11 -10.57,-7.49 -15.85,-17 -15.85,-28.52 0,-11.34 4.22,-21.13 12.68,-29.39 8.44,-8.26 19.19,-12.38 32.26,-12.38 14.59,0 28.53,4.79 41.77,14.4 9.8,7.3 16.23,16.23 19.31,26.79 2.1,6.92 3.17,20.07 3.17,39.47 z m -108.32,65.69 -73.47,13.25 c 8.25,29.58 22.47,51.47 42.64,65.68 20.16,14.21 50.13,21.32 89.88,21.32 36.11,0 62.99,-4.28 80.67,-12.82 17.66,-8.55 30.1,-19.4 37.3,-32.55 7.21,-13.16 10.81,-37.31 10.81,-72.46 l -0.87,-94.49 c 0,-26.89 1.3,-46.72 3.89,-59.49 2.6,-12.77 7.44,-26.45 14.55,-41.05 h -80.09 c -2.12,5.37 -4.71,13.35 -7.77,23.91 -1.35,4.8 -2.31,7.97 -2.89,9.51 -13.83,-13.45 -28.62,-23.53 -44.36,-30.25 -15.75,-6.72 -32.56,-10.09 -50.42,-10.09 -31.5,0 -56.32,8.55 -74.47,25.65 -18.15,17.08 -27.22,38.69 -27.22,64.82 0,17.28 4.12,32.69 12.39,46.23 8.25,13.54 19.82,23.91 34.71,31.12 14.88,7.2 36.34,13.49 64.39,18.86 37.83,7.11 64.05,13.73 78.65,19.88 v 8.07 c 0,15.56 -3.85,26.64 -11.52,33.28 -7.69,6.62 -22.19,9.93 -43.51,9.93 -14.4,0 -25.63,-2.84 -33.7,-8.5 -8.07,-5.66 -14.6,-15.61 -19.59,-29.81'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path48'
          ></path><path
            d='m 7271.81,1633.4 h -80.96 v 156.14 c 0,33.03 -1.73,54.4 -5.19,64.1 -3.45,9.7 -9.07,17.24 -16.85,22.62 -7.78,5.37 -17.14,8.06 -28.09,8.06 -14.02,0 -26.6,-3.84 -37.74,-11.52 -11.13,-7.69 -18.77,-17.86 -22.9,-30.54 -4.13,-12.67 -6.19,-36.11 -6.19,-70.29 V 1633.4 h -80.95 v 305.95 h 75.18 v -44.94 c 26.69,34.57 60.31,51.85 100.83,51.85 17.87,0 34.18,-3.22 48.98,-9.65 14.78,-6.44 25.98,-14.65 33.56,-24.63 7.58,-9.99 12.86,-21.32 15.84,-34 2.98,-12.67 4.48,-30.82 4.48,-54.44 V 1633.4'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path50'
          ></path><path
            d='m 7620.67,1848.89 -79.8,-14.41 c -2.7,15.94 -8.79,27.95 -18.29,36.01 -9.51,8.07 -21.86,12.1 -37.02,12.1 -20.17,0 -36.25,-6.96 -48.26,-20.88 -12.01,-13.93 -18,-37.22 -18,-69.86 0,-36.3 6.09,-61.94 18.29,-76.92 12.19,-14.98 28.56,-22.47 49.12,-22.47 15.36,0 27.95,4.36 37.73,13.11 9.81,8.73 16.72,23.76 20.74,45.08 l 79.52,-13.54 c -8.26,-36.49 -24.1,-64.05 -47.53,-82.68 -23.44,-18.63 -54.84,-27.95 -94.21,-27.95 -44.75,0 -80.42,14.12 -107.02,42.36 -26.6,28.23 -39.9,67.31 -39.9,117.25 0,50.5 13.34,89.83 40.04,117.96 26.69,28.14 62.81,42.21 108.32,42.21 37.26,0 66.89,-8.02 88.88,-24.05 21.98,-16.04 37.78,-40.48 47.39,-73.32'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path52'
          ></path><path
            d='m 7682.02,1633.4 v 305.95 h 80.96 V 1633.4 Z m 0,347.43 v 74.9 h 80.96 v -74.9 h -80.96'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path54'
          ></path><path
            d='m 8027.73,1812.59 c -0.57,23.43 -6.63,41.24 -18.15,53.44 -11.52,12.19 -25.54,18.29 -42.05,18.29 -17.68,0 -32.27,-6.43 -43.79,-19.3 -11.52,-12.87 -17.2,-30.34 -17,-52.43 z m -4.61,-81.82 80.67,-13.54 c -10.37,-29.58 -26.75,-52.1 -49.12,-67.55 -22.38,-15.47 -50.37,-23.2 -83.98,-23.2 -53.2,0 -92.58,17.38 -118.11,52.15 -20.17,27.85 -30.25,62.99 -30.25,105.44 0,50.7 13.25,90.41 39.75,119.13 26.5,28.7 60.02,43.06 100.55,43.06 45.51,0 81.42,-15.03 107.74,-45.09 26.31,-30.06 38.9,-76.1 37.74,-138.13 H 7905.3 c 0.57,-24.01 7.1,-42.69 19.59,-56.04 12.48,-13.35 28.04,-20.02 46.66,-20.02 12.68,0 23.34,3.46 31.98,10.38 8.65,6.91 15.17,18.05 19.59,33.41'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path56'
          ></path><path
            d='m 8251.57,1633.4 h -80.96 v 305.95 h 75.2 v -43.5 c 12.86,20.54 24.43,34.08 34.72,40.61 10.27,6.53 21.93,9.8 35,9.8 18.43,0 36.2,-5.09 53.29,-15.27 l -25.06,-70.58 c -13.64,8.83 -26.32,13.25 -38.03,13.25 -11.34,0 -20.94,-3.12 -28.81,-9.36 -7.88,-6.24 -14.07,-17.53 -18.58,-33.85 -4.51,-16.33 -6.77,-50.51 -6.77,-102.56 v -94.49'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path58'
          ></path><path
            d='m 8468.21,1793 c 0,-32.65 4.51,-56.27 13.55,-70.87 13.05,-21.13 31.3,-31.69 54.73,-31.69 18.63,0 34.48,7.92 47.54,23.77 13.06,15.84 19.59,39.51 19.59,71.01 0,35.15 -6.35,60.45 -19.02,75.91 -12.68,15.46 -28.91,23.19 -48.68,23.19 -19.21,0 -35.3,-7.63 -48.25,-22.9 -12.97,-15.27 -19.46,-38.08 -19.46,-68.42 z m 216.08,-159.6 h -75.2 v 44.94 c -12.49,-17.48 -27.23,-30.49 -44.22,-39.03 -17,-8.55 -34.14,-12.83 -51.42,-12.83 -35.15,0 -65.26,14.16 -90.32,42.5 -25.06,28.32 -37.59,67.84 -37.59,118.54 0,51.86 12.19,91.28 36.58,118.26 24.39,26.99 55.21,40.48 92.48,40.48 34.18,0 63.76,-14.21 88.73,-42.63 v 152.1 h 80.96 V 1633.4'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path60'
          ></path><path
            d='m 8992.53,1793 c 0,-32.65 4.51,-56.27 13.54,-70.87 13.06,-21.13 31.3,-31.69 54.74,-31.69 18.62,0 34.47,7.92 47.54,23.77 13.06,15.84 19.59,39.51 19.59,71.01 0,35.15 -6.35,60.45 -19.02,75.91 -12.68,15.46 -28.91,23.19 -48.69,23.19 -19.21,0 -35.29,-7.63 -48.25,-22.9 -12.97,-15.27 -19.45,-38.08 -19.45,-68.42 z m 216.07,-159.6 h -75.19 v 44.94 c -12.49,-17.48 -27.23,-30.49 -44.22,-39.03 -17,-8.55 -34.14,-12.83 -51.43,-12.83 -35.14,0 -65.25,14.16 -90.31,42.5 -25.07,28.32 -37.6,67.84 -37.6,118.54 0,51.86 12.2,91.28 36.58,118.26 24.4,26.99 55.22,40.48 92.49,40.48 34.18,0 63.76,-14.21 88.73,-42.63 v 152.1 h 80.95 V 1633.4'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path62'
          ></path><path
            d='m 9352.64,1786.38 c 0,-30.35 7.19,-53.59 21.61,-69.72 14.39,-16.14 32.16,-24.2 53.29,-24.2 21.12,0 38.84,8.06 53.15,24.2 14.31,16.13 21.47,39.56 21.47,70.29 0,29.96 -7.16,53.01 -21.47,69.14 -14.31,16.13 -32.03,24.2 -53.15,24.2 -21.13,0 -38.9,-8.07 -53.29,-24.2 -14.42,-16.13 -21.61,-39.38 -21.61,-69.71 z m -82.97,4.32 c 0,26.88 6.63,52.91 19.87,78.07 13.26,25.15 32.03,44.36 56.33,57.61 24.29,13.26 51.42,19.88 81.39,19.88 46.27,0 84.2,-15.03 113.78,-45.09 29.57,-30.06 44.37,-68.03 44.37,-113.93 0,-46.29 -14.93,-84.65 -44.8,-115.09 -29.87,-30.44 -67.46,-45.67 -112.79,-45.67 -28.04,0 -54.78,6.34 -80.22,19.02 -25.45,12.68 -44.8,31.26 -58.06,55.74 -13.24,24.49 -19.87,54.31 -19.87,89.46'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path64'
          ></path><path
            d='m 9713.04,1786.38 c 0,-30.35 7.19,-53.59 21.61,-69.72 14.39,-16.14 32.16,-24.2 53.29,-24.2 21.12,0 38.84,8.06 53.15,24.2 14.31,16.13 21.47,39.56 21.47,70.29 0,29.96 -7.16,53.01 -21.47,69.14 -14.31,16.13 -32.03,24.2 -53.15,24.2 -21.13,0 -38.9,-8.07 -53.29,-24.2 -14.42,-16.13 -21.61,-39.38 -21.61,-69.71 z m -82.97,4.32 c 0,26.88 6.63,52.91 19.87,78.07 13.26,25.15 32.03,44.36 56.33,57.61 24.29,13.26 51.42,19.88 81.39,19.88 46.27,0 84.2,-15.03 113.78,-45.09 29.58,-30.06 44.37,-68.03 44.37,-113.93 0,-46.29 -14.93,-84.65 -44.79,-115.09 -29.88,-30.44 -67.47,-45.67 -112.8,-45.67 -28.04,0 -54.78,6.34 -80.22,19.02 -25.45,12.68 -44.8,31.26 -58.06,55.74 -13.24,24.49 -19.87,54.31 -19.87,89.46'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path66'
          ></path><path
            d='m 10086.7,1633.4 h -81 v 305.95 h 75.2 v -43.5 c 12.9,20.54 24.5,34.08 34.7,40.61 10.3,6.53 22,9.8 35,9.8 18.5,0 36.2,-5.09 53.3,-15.27 l -25,-70.58 c -13.7,8.83 -26.3,13.25 -38.1,13.25 -11.3,0 -20.9,-3.12 -28.8,-9.36 -7.8,-6.24 -14,-17.53 -18.5,-33.85 -4.6,-16.33 -6.8,-50.51 -6.8,-102.56 v -94.49'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path68'
          ></path><path
            d='m 5222.06,1085 c 0,-32.65 4.51,-56.27 13.55,-70.87 13.05,-21.118 31.29,-31.689 54.73,-31.689 18.62,0 34.47,7.918 47.54,23.769 13.06,15.84 19.59,39.51 19.59,71.01 0,35.15 -6.35,60.45 -19.02,75.92 -12.68,15.45 -28.91,23.18 -48.68,23.18 -19.21,0 -35.3,-7.63 -48.26,-22.9 -12.97,-15.26 -19.45,-38.08 -19.45,-68.42 z m 216.07,-159.602 h -75.19 v 44.942 c -12.49,-17.481 -27.23,-30.488 -44.22,-39.031 -17,-8.547 -34.14,-12.821 -51.43,-12.821 -35.14,0 -65.25,14.16 -90.31,42.492 -25.07,28.329 -37.6,67.85 -37.6,118.55 0,51.85 12.2,91.27 36.59,118.26 24.39,26.98 55.21,40.47 92.48,40.47 34.18,0 63.76,-14.21 88.73,-42.63 v 152.1 h 80.95 V 925.398'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path70'
          ></path><path
            d='m 5699.71,1104.59 c -0.58,23.43 -6.63,41.24 -18.16,53.44 -11.52,12.2 -25.53,18.29 -42.05,18.29 -17.67,0 -32.26,-6.43 -43.79,-19.3 -11.52,-12.87 -17.19,-30.34 -17,-52.43 z m -4.61,-81.82 80.66,-13.53 c -10.37,-29.58 -26.75,-52.099 -49.12,-67.56 -22.37,-15.461 -50.37,-23.192 -83.97,-23.192 -53.21,0 -92.58,17.383 -118.12,52.153 -20.17,27.839 -30.24,62.979 -30.24,105.429 0,50.7 13.24,90.41 39.74,119.13 26.51,28.7 60.02,43.06 100.55,43.06 45.52,0 81.43,-15.03 107.74,-45.08 26.31,-30.06 38.9,-76.11 37.75,-138.14 h -202.81 c 0.56,-24 7.1,-42.69 19.59,-56.04 12.48,-13.34 28.03,-20.012 46.66,-20.012 12.67,0 23.34,3.453 31.98,10.371 8.64,6.911 15.16,18.051 19.59,33.411'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path72'
          ></path><path
            d='m 6010.56,925.398 v 422.332 h 313.14 v -71.44 h -227.87 v -93.63 h 212.03 V 1111.5 H 6095.83 V 996.559 h 235.94 v -71.161 h -321.21'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path74'
          ></path><path
            d='m 6604.88,925.398 v 45.813 c -11.14,-16.332 -25.78,-29.199 -43.93,-38.602 -18.15,-9.418 -37.31,-14.121 -57.47,-14.121 -20.56,0 -39,4.524 -55.32,13.543 -16.32,9.028 -28.13,21.699 -35.44,38.028 -7.29,16.32 -10.93,38.891 -10.93,67.691 v 193.6 h 80.94 v -140.59 c 0,-43.01 1.49,-69.38 4.47,-79.08 2.98,-9.7 8.4,-17.379 16.28,-23.051 7.87,-5.66 17.86,-8.488 29.96,-8.488 13.83,0 26.22,3.789 37.16,11.371 10.95,7.59 18.43,17.008 22.48,28.238 4.02,11.24 6.04,38.75 6.04,82.54 v 129.06 h 80.95 V 925.398 h -75.19'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path76'
          ></path><path
            d='m 6841.4,925.398 h -80.96 v 305.952 h 75.19 v -43.5 c 12.87,20.54 24.44,34.08 34.72,40.62 10.28,6.53 21.94,9.79 35,9.79 18.44,0 36.2,-5.09 53.29,-15.26 l -25.06,-70.59 c -13.64,8.84 -26.31,13.25 -38.02,13.25 -11.34,0 -20.94,-3.12 -28.81,-9.36 -7.88,-6.24 -14.07,-17.53 -18.59,-33.85 -4.51,-16.33 -6.76,-50.51 -6.76,-102.56 v -94.492'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path78'
          ></path><path
            d='m 7057.75,1078.37 c 0,-30.34 7.2,-53.57 21.61,-69.71 14.4,-16.129 32.16,-24.199 53.3,-24.199 21.12,0 38.83,8.07 53.15,24.199 14.31,16.14 21.46,39.56 21.46,70.29 0,29.96 -7.15,53.01 -21.46,69.14 -14.32,16.14 -32.03,24.2 -53.15,24.2 -21.14,0 -38.9,-8.06 -53.3,-24.2 -14.41,-16.13 -21.61,-39.37 -21.61,-69.72 z m -82.96,4.33 c 0,26.88 6.63,52.91 19.87,78.07 13.26,25.16 32.03,44.36 56.33,57.62 24.28,13.25 51.42,19.87 81.38,19.87 46.28,0 84.21,-15.03 113.79,-45.08 29.57,-30.06 44.37,-68.04 44.37,-113.94 0,-46.29 -14.93,-84.65 -44.8,-115.092 -29.87,-30.437 -67.46,-45.66 -112.79,-45.66 -28.04,0 -54.79,6.344 -80.23,19.012 -25.44,12.68 -44.79,31.262 -58.05,55.738 -13.24,24.502 -19.87,54.312 -19.87,89.462'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path80'
          ></path><path
            d='m 7431.69,1083.56 c 0,-34.38 6.81,-59.78 20.45,-76.2 13.63,-16.419 30.25,-24.622 49.84,-24.622 18.82,0 34.46,7.524 46.95,22.602 12.49,15.08 18.74,39.81 18.74,74.19 0,32.07 -6.45,55.89 -19.31,71.44 -12.87,15.56 -28.81,23.34 -47.82,23.34 -19.79,0 -36.2,-7.64 -49.26,-22.9 -13.07,-15.28 -19.59,-37.89 -19.59,-67.85 z m -80.1,147.79 h 75.49 v -44.94 c 9.78,15.36 23.05,27.84 39.75,37.45 16.71,9.6 35.24,14.4 55.6,14.4 35.53,0 65.68,-13.92 90.46,-41.77 24.78,-27.85 37.16,-66.65 37.16,-116.39 0,-51.09 -12.48,-90.791 -37.44,-119.12 -24.97,-28.332 -55.23,-42.492 -90.76,-42.492 -16.9,0 -32.21,3.371 -45.94,10.094 -13.74,6.707 -28.2,18.238 -43.36,34.566 V 809.012 h -80.96 v 422.338'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path82'
          ></path><path
            d='m 7896.07,1104.59 c -0.57,23.43 -6.63,41.24 -18.15,53.44 -11.52,12.2 -25.54,18.29 -42.05,18.29 -17.68,0 -32.27,-6.43 -43.79,-19.3 -11.52,-12.87 -17.2,-30.34 -17,-52.43 z m -4.61,-81.82 80.67,-13.53 c -10.37,-29.58 -26.75,-52.099 -49.12,-67.56 -22.38,-15.461 -50.37,-23.192 -83.98,-23.192 -53.2,0 -92.58,17.383 -118.11,52.153 -20.17,27.839 -30.25,62.979 -30.25,105.429 0,50.7 13.25,90.41 39.75,119.13 26.5,28.7 60.02,43.06 100.55,43.06 45.51,0 81.42,-15.03 107.74,-45.08 26.31,-30.06 38.9,-76.11 37.74,-138.14 h -202.81 c 0.57,-24 7.1,-42.69 19.59,-56.04 12.48,-13.34 28.04,-20.012 46.66,-20.012 12.68,0 23.34,3.453 31.98,10.371 8.65,6.911 15.17,18.051 19.59,33.411'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path84'
          ></path><path
            d='m 8013.91,1012.7 81.24,12.38 c 3.45,-15.75 10.46,-27.709 21.02,-35.869 10.57,-8.16 25.35,-12.242 44.38,-12.242 20.92,0 36.68,3.84 47.24,11.531 7.1,5.371 10.66,12.58 10.66,21.6 0,6.14 -1.93,11.24 -5.77,15.27 -4.03,3.84 -13.06,7.39 -27.08,10.66 -65.3,14.4 -106.68,27.55 -124.16,39.46 -24.19,16.52 -36.3,39.47 -36.3,68.86 0,26.5 10.46,48.78 31.4,66.83 20.93,18.05 53.39,27.08 97.38,27.08 41.86,0 72.97,-6.82 93.34,-20.45 20.35,-13.64 34.37,-33.81 42.06,-60.5 l -76.35,-14.11 c -3.26,11.9 -9.45,21.03 -18.58,27.36 -9.13,6.34 -22.13,9.51 -39.04,9.51 -21.31,0 -36.58,-2.98 -45.8,-8.93 -6.15,-4.23 -9.22,-9.7 -9.22,-16.42 0,-5.76 2.69,-10.66 8.07,-14.7 7.29,-5.38 32.5,-12.96 75.62,-22.75 43.12,-9.8 73.22,-21.81 90.32,-36.01 16.89,-14.4 25.35,-34.48 25.35,-60.21 0,-28.038 -11.72,-52.14 -35.15,-72.312 -23.44,-20.156 -58.1,-30.25 -103.99,-30.25 -41.68,0 -74.67,8.442 -98.97,25.352 -24.3,16.898 -40.18,39.851 -47.67,68.86'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path86'
          ></path><path
            d='m 8552.34,1104.59 c -0.57,23.43 -6.63,41.24 -18.15,53.44 -11.52,12.2 -25.54,18.29 -42.05,18.29 -17.68,0 -32.27,-6.43 -43.79,-19.3 -11.52,-12.87 -17.2,-30.34 -17,-52.43 z m -4.61,-81.82 80.67,-13.53 c -10.37,-29.58 -26.75,-52.099 -49.12,-67.56 -22.38,-15.461 -50.37,-23.192 -83.98,-23.192 -53.2,0 -92.58,17.383 -118.11,52.153 -20.17,27.839 -30.25,62.979 -30.25,105.429 0,50.7 13.24,90.41 39.75,119.13 26.5,28.7 60.02,43.06 100.55,43.06 45.51,0 81.42,-15.03 107.74,-45.08 26.31,-30.06 38.9,-76.11 37.74,-138.14 h -202.81 c 0.57,-24 7.1,-42.69 19.59,-56.04 12.48,-13.34 28.04,-20.012 46.66,-20.012 12.68,0 23.34,3.453 31.98,10.371 8.65,6.911 15.17,18.051 19.59,33.411'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path88'
          ></path><path
            d='m 8862.61,1347.73 h 85.27 V 1119 c 0,-36.3 1.05,-59.83 3.17,-70.58 3.65,-17.29 12.34,-31.16 26.08,-41.63 13.73,-10.47 32.5,-15.708 56.32,-15.708 24.2,0 42.44,4.949 54.73,14.838 12.29,9.89 19.69,22.04 22.18,36.44 2.5,14.41 3.75,38.32 3.75,71.74 v 233.63 h 85.27 v -221.82 c 0,-50.7 -2.3,-86.52 -6.91,-107.45 -4.61,-20.94 -13.11,-38.608 -25.5,-53.011 -12.38,-14.398 -28.95,-25.89 -49.7,-34.429 -20.74,-8.54 -47.81,-12.821 -81.23,-12.821 -40.33,0 -70.92,4.66 -91.75,13.973 -20.84,9.316 -37.31,21.41 -49.42,36.297 -12.09,14.883 -20.07,30.492 -23.9,46.811 -5.58,24.2 -8.36,59.93 -8.36,107.17 v 225.28'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path90'
          ></path><path
            d='m 9566.98,925.398 h -80.96 v 156.142 c 0,33.04 -1.72,54.4 -5.18,64.1 -3.46,9.7 -9.07,17.24 -16.86,22.62 -7.77,5.37 -17.13,8.06 -28.08,8.06 -14.03,0 -26.6,-3.84 -37.75,-11.52 -11.13,-7.69 -18.77,-17.86 -22.9,-30.53 -4.13,-12.68 -6.19,-36.11 -6.19,-70.29 V 925.398 h -80.95 v 305.952 h 75.19 v -44.94 c 26.69,34.57 60.3,51.85 100.83,51.85 17.86,0 34.18,-3.21 48.97,-9.65 14.79,-6.43 25.98,-14.65 33.57,-24.63 7.58,-9.99 12.86,-21.32 15.84,-34 2.98,-12.67 4.47,-30.82 4.47,-54.44 V 925.398'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path92'
          ></path><path
            d='m 9649.07,925.398 v 305.952 h 80.96 V 925.398 Z m 0,347.432 v 74.9 h 80.96 v -74.9 h -80.96'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path94'
          ></path><path
            d='m 9994.78,1104.59 c -0.57,23.43 -6.63,41.24 -18.15,53.44 -11.52,12.2 -25.54,18.29 -42.05,18.29 -17.68,0 -32.27,-6.43 -43.79,-19.3 -11.52,-12.87 -17.2,-30.34 -17,-52.43 z m -4.6,-81.82 80.62,-13.53 c -10.3,-29.58 -26.7,-52.099 -49.1,-67.56 -22.35,-15.461 -50.35,-23.192 -83.96,-23.192 -53.2,0 -92.57,17.383 -118.11,52.153 -20.17,27.839 -30.25,62.979 -30.25,105.429 0,50.7 13.25,90.41 39.75,119.13 26.5,28.7 60.02,43.06 100.55,43.06 45.51,0 81.42,-15.03 107.72,-45.08 26.3,-30.06 38.9,-76.11 37.8,-138.14 h -202.85 c 0.57,-24 7.1,-42.69 19.59,-56.04 12.48,-13.34 28.04,-20.012 46.66,-20.012 12.68,0 23.34,3.453 31.99,10.371 8.64,6.911 15.16,18.051 19.59,33.411'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path96'
          ></path><g id='g98' transform='scale(10)'><text
              transform='matrix(1,0,0,-1,511.937,16.5602)'
              style='font-variant:normal;font-weight:normal;font-size:51px;font-family:Arial;-inkscape-font-specification:ArialMT;writing-mode:lr-tb;fill:#4a4d51;fill-opacity:1;fill-rule:nonzero;stroke:none'
              id='text102'
            ><tspan
                x='0 36.831081 65.194359 90.694359 104.8643 144.53322 172.89752 201.26079 229.62411 246.60849 274.97177 289.14169 300.47177 328.83508 357.19949 391.21649'
                y='0'
                sodipodi:role='line'
                id='tspan100'
              >NextGenerationEU</tspan></text></g><path
            d='m 1187.82,1084.11 c -65.65,50.13 -96.33,-0.38 -137.64,2.98 -34.91,2.74 -67.641,59.2 -94.727,45.7 -51.535,-26.17 20.719,-119.03 52.077,-138.028 27.96,-16.633 63.13,-32.121 71.56,-36.09 41.47,-19.301 57.99,-48.684 63.18,-94.383 1.33,-10.598 0,-34.641 -2.6,-45.699 -18.91,-80.34 -159.607,-153.281 -240.412,-98.121 -37.992,26.101 -72.707,59.82 -84.766,119.41 -21.742,105.519 -97.926,183.111 -122.34,286.351 -14.843,62.75 -25.867,129.01 -42.234,192.11 -16.707,65.24 -33.797,129.9 -47.453,189.22 -12.442,55.13 -38.688,137.57 -57.606,187.69 -77.214,201.47 -112.086,186.86 -112.086,186.86 0,0 28.082,-55.97 130.321,-549.73 4.195,-20.22 41.312,-237.74 68.437,-309.39 9.692,-25.631 26.629,-80.42 37.766,-104.599 32.504,-70.801 118.34,-178 123.984,-274.75 3.282,-55.852 9.614,-102.09 10.989,-144.43 0.761,-12.359 6.253,-62.789 14.343,-85.231 C 839.52,355.082 1008.75,164.801 1188.28,164.801 V 309 c -178.42,0 -346.546,100.02 -350.706,110.559 -2.554,4.652 9.27,72.929 21.364,103.222 23.421,58.828 67.484,112.391 145.002,118.188 86.45,6.179 138.63,-18.918 184.34,-18.918 l -0.46,462.059'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path104'
          ></path><path
            d='m 412.898,1607.44 c -6.523,-107.92 -173.613,-255.6 -226.031,-350.21 -25.633,-46.69 -56.996,-126.5 -65.082,-172.93 -22.203,-128.749 5.988,-208.788 37.387,-284.171 55.312,-132.609 -7.481,-181.289 35.781,-154.43 53.488,43.641 45.399,145.352 41.434,208.832 -3.129,51.5 -6.567,110.098 1.218,171.519 14.879,114.9 84.426,238.24 143.825,324.49 70.574,102.85 44.937,209.21 31.468,256.9'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path106'
          ></path><path
            d='m 446.586,1300.72 c 0,0 17.777,-85.53 -57.68,-305.501 C 191.52,420.09 568.547,365.531 675.898,230.262 c 0,0 41.543,58.519 -129.437,246.129 -62.453,68.449 -118.797,219.589 -69.738,435.211 70.996,312.288 -30.137,389.118 -30.137,389.118'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path108'
          ></path><path
            d='m 73.3359,1677.97 c -9.0039,33.99 -11.75,64.4 -9.7656,91.56 9.0781,135.16 131.8787,189.83 162.4417,210.01 0,0 55.234,37.8 62.332,75.96 0,0 56.535,-142.26 -73.094,-223.75 -65.77,-41.43 -110.48,-89.91 -141.9141,-153.78'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path110'
          ></path><path
            d='m 382.949,1808.67 c 6.985,-13.7 57.836,-88.24 -150.535,-260.17 C 24.4297,1376.71 89.3984,1253.95 89.3984,1253.95 c 0,0 -222.0274,123.45 33.7226,336.78 255.676,213.25 203.219,256.43 203.219,256.43 0,0 36.66,1.84 56.609,-38.49'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path112'
          ></path><path
            d='m 765.59,1692.28 c 3.012,8.05 7.359,1.52 16.476,7.25 9.731,9.23 19.684,24.3 35.516,29.37 11.336,3.51 26.859,1.83 37.426,-2.29 7.058,-1.71 2.824,-19.84 -2.516,-24.53 -11.215,-8.35 -44.484,5.38 -44.484,-19.57 1.375,-40.82 55.277,1.38 83.394,0.15 13.774,-99.71 -150.347,-72.32 -125.812,9.62 z m -112.16,50.51 c 36.011,-4.73 58.902,-116.97 142.179,-141.42 61.231,-17.82 126.313,-8.12 140.735,-44.98 -28.078,-14.87 -5.875,-64.32 22.351,-56.23 23.274,65.58 35.024,319.2 -305.265,242.63'
            style='fill:#2755ad;fill-opacity:1;fill-rule:nonzero;stroke:none'
            id='path114'
          ></path></g></g>
    </svg>
    <svg width='104' height='56' viewBox='0 0 208 117'>
      <path
        d='M49.3242 51.3175L41.8925 75.4217L34.4608 51.3175H23.2267L35.3817 85.1175H48.3383L60.5042 51.3175H49.3242Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M73.5691 51.3175H63.0717V85.1067H73.5691V51.3175Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M94.7592 75.4217L102.191 51.3175H113.36L101.205 85.1175H88.2483L76.0933 51.3175H87.3275L94.7592 75.4217Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M137.486 64.9458C137.486 63.1692 136.868 61.7608 135.644 60.71C134.42 59.6592 132.882 59.1392 131.04 59.1392C129.285 59.1392 127.801 59.6483 126.588 60.6558C125.374 61.6633 124.638 63.1041 124.345 64.9566L137.486 64.9458ZM148.048 70.6983H124.291C124.453 72.8 125.136 74.4033 126.349 75.5083C127.563 76.6133 129.036 77.1767 130.802 77.1767C133.423 77.1767 135.243 76.0825 136.262 73.905H147.431C146.868 76.115 145.806 78.1625 144.333 79.8958C142.838 81.6725 140.963 83.07 138.721 84.0775C136.478 85.085 133.954 85.5941 131.17 85.5941C127.812 85.5941 124.822 84.89 122.211 83.4708C119.622 82.0842 117.488 79.9825 116.068 77.415C114.595 74.7933 113.858 71.7166 113.858 68.2066C113.858 64.6966 114.584 61.62 116.036 58.9983C117.433 56.4308 119.557 54.3183 122.146 52.9425C124.768 51.5342 127.768 50.8192 131.17 50.8192C134.485 50.8192 137.432 51.5017 140.01 52.8775C142.545 54.21 144.647 56.2467 146.055 58.7492C147.507 61.295 148.233 64.2633 148.233 67.6542C148.233 68.6833 148.167 69.6908 148.048 70.6983Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M157.874 84.0883C155.545 83.0808 153.703 81.6942 152.349 79.9392C151.017 78.2383 150.226 76.1908 150.074 74.035H160.452C160.572 75.205 161.124 76.1583 162.11 76.8842C163.096 77.61 164.298 77.9783 165.728 77.9783C167.039 77.9783 168.047 77.7292 168.772 77.22C169.487 76.7108 169.845 76.0608 169.845 75.2483C169.845 74.2842 169.336 73.5583 168.307 73.1033C167.288 72.6375 165.631 72.1283 163.334 71.565C160.875 71.0017 158.827 70.4058 157.192 69.7775C155.556 69.1492 154.104 68.1308 152.956 66.8092C151.764 65.455 151.179 63.635 151.179 61.3275C151.168 59.4317 151.732 57.59 152.804 56.03C153.887 54.4375 155.48 53.17 157.592 52.2492C159.705 51.3175 162.207 50.8517 165.111 50.8517C169.412 50.8517 172.792 51.9025 175.272 54.0042C177.753 56.1058 179.172 58.89 179.541 62.3567H169.845C169.682 61.1867 169.162 60.255 168.285 59.5725C167.407 58.89 166.248 58.5433 164.818 58.5433C163.594 58.5433 162.652 58.7708 161.991 59.2367C161.352 59.6592 160.983 60.385 161.005 61.1433C161.005 62.1183 161.525 62.8442 162.565 63.3208C163.605 63.7975 165.23 64.285 167.44 64.7725C169.975 65.4225 172.044 66.0508 173.637 66.6792C175.229 67.3075 176.637 68.315 177.84 69.7125C179.042 71.11 179.671 72.9733 179.714 75.3133C179.714 77.2958 179.151 79.0617 178.024 80.6108C176.897 82.16 175.283 83.3842 173.171 84.2725C171.058 85.1608 168.621 85.605 165.837 85.605C162.868 85.605 160.203 85.0958 157.874 84.0883Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M101.151 34.4392C101.649 34.7208 102.05 35.1433 102.299 35.6633C102.57 36.205 102.711 36.8442 102.711 37.6025V42.4992H100.598V37.8842C100.598 37.2233 100.436 36.7142 100.1 36.3567C99.7642 35.9992 99.32 35.8258 98.7458 35.8258C98.1608 35.8258 97.7058 35.9992 97.37 36.3567C97.0342 36.7142 96.8608 37.2233 96.8608 37.8842V42.4992H94.7483V31.3408H96.8608V35.1867C97.1425 34.8183 97.5217 34.5258 97.9442 34.3308C98.4208 34.125 98.93 34.0167 99.45 34.0167C100.057 34.0167 100.642 34.1575 101.151 34.4392Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M105.961 42.0983C105.322 41.7408 104.802 41.2208 104.444 40.5817C104.065 39.8883 103.881 39.1083 103.892 38.3175C103.881 37.5267 104.076 36.7467 104.455 36.0533C104.812 35.4142 105.354 34.8833 106.004 34.5367C107.369 33.8217 109.005 33.8217 110.37 34.5367C111.02 34.8833 111.551 35.4142 111.919 36.0533C112.309 36.7467 112.504 37.5267 112.482 38.3175C112.493 39.1083 112.298 39.8883 111.897 40.5817C111.529 41.2208 110.987 41.7517 110.327 42.0983C109.644 42.4558 108.886 42.64 108.117 42.6292C107.369 42.64 106.622 42.4558 105.961 42.0983ZM109.211 40.5167C109.557 40.3217 109.839 40.0292 110.012 39.6825C110.229 39.26 110.327 38.7942 110.316 38.3283C110.316 37.5375 110.11 36.92 109.687 36.4975C109.287 36.075 108.734 35.8475 108.16 35.8583C107.586 35.8475 107.033 36.075 106.643 36.4975C106.242 36.92 106.037 37.5375 106.037 38.3283C106.037 39.1192 106.232 39.7367 106.632 40.1592C107.012 40.5817 107.564 40.8092 108.127 40.7983C108.507 40.7875 108.875 40.7008 109.211 40.5167Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M118.647 34.3742C119.091 34.6017 119.47 34.9267 119.762 35.3275V34.1358H121.886V42.5425C121.897 43.2575 121.734 43.9725 121.42 44.6117C121.106 45.2183 120.618 45.7275 120.022 46.0633C119.405 46.4208 118.647 46.5942 117.758 46.5942C116.578 46.5942 115.603 46.3233 114.844 45.7708C114.097 45.2508 113.631 44.4167 113.555 43.5067H115.646C115.754 43.8967 116.014 44.2217 116.361 44.4167C116.762 44.655 117.228 44.7742 117.693 44.7525C118.311 44.7525 118.798 44.5683 119.188 44.2C119.578 43.8317 119.762 43.2792 119.762 42.5317V41.2317C119.47 41.6433 119.091 41.9792 118.636 42.2067C118.137 42.4775 117.574 42.6075 117 42.5967C116.318 42.6075 115.646 42.4125 115.072 42.055C114.476 41.6867 113.999 41.1558 113.696 40.5275C113.349 39.8233 113.176 39.0433 113.187 38.2633C113.176 37.4833 113.349 36.7142 113.696 36.0208C113.999 35.4033 114.476 34.8833 115.072 34.515C115.657 34.1575 116.328 33.9842 117.011 33.9842C117.574 33.995 118.137 34.125 118.647 34.3742ZM119.47 36.9958C119.286 36.6492 119.004 36.3567 118.658 36.1508C118.322 35.9558 117.942 35.8583 117.553 35.8583C116.762 35.8475 116.036 36.2808 115.657 36.985C115.44 37.3858 115.332 37.83 115.353 38.285C115.343 38.74 115.451 39.195 115.657 39.6067C115.841 39.9642 116.123 40.2675 116.469 40.4733C116.794 40.6683 117.163 40.7767 117.542 40.7767C117.932 40.7767 118.311 40.6792 118.647 40.4842C118.993 40.2892 119.275 39.9967 119.459 39.6392C119.871 38.805 119.871 37.83 119.47 36.9958Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M131.354 38.9458H125.255C125.309 39.5525 125.515 40.0183 125.883 40.365C126.252 40.7117 126.75 40.8958 127.259 40.8742C128.039 40.8742 128.603 40.5383 128.928 39.8667H131.203C130.964 40.6575 130.477 41.3508 129.816 41.8492C129.133 42.3692 128.299 42.6292 127.303 42.6292C126.544 42.64 125.797 42.4558 125.136 42.0983C124.507 41.7517 123.988 41.2208 123.641 40.5817C123.272 39.8883 123.088 39.1083 123.11 38.3175C123.088 37.5267 123.272 36.7467 123.641 36.0425C123.977 35.4033 124.486 34.8833 125.114 34.5367C126.468 33.8433 128.072 33.8325 129.437 34.5258C130.054 34.8617 130.563 35.36 130.899 35.9775C131.257 36.6383 131.43 37.3858 131.419 38.1442C131.419 38.415 131.398 38.6858 131.354 38.9458ZM129.231 37.5375C129.242 37.0392 129.025 36.5625 128.646 36.2375C128.256 35.9125 127.758 35.7283 127.248 35.75C126.761 35.7392 126.295 35.9017 125.927 36.2267C125.569 36.5408 125.342 36.985 125.266 37.5483L129.231 37.5375Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M134.008 42.2608C133.499 42.0442 133.055 41.6975 132.719 41.2642C132.405 40.8633 132.232 40.3758 132.199 39.8667H134.322C134.366 40.1917 134.539 40.4733 134.799 40.6683C135.102 40.885 135.46 40.9933 135.828 40.9825C136.229 40.9825 136.543 40.9067 136.771 40.7442C136.987 40.6142 137.107 40.3758 137.107 40.1267C137.107 39.8558 136.966 39.65 136.695 39.52C136.272 39.3358 135.828 39.1842 135.373 39.0758C134.853 38.9567 134.344 38.805 133.846 38.61C133.445 38.4475 133.098 38.1983 132.817 37.8733C132.524 37.5375 132.383 37.0933 132.383 36.53C132.383 36.075 132.524 35.6308 132.784 35.2625C133.077 34.8617 133.467 34.5475 133.932 34.3525C134.485 34.125 135.092 34.0058 135.687 34.0167C136.684 34.0167 137.475 34.2658 138.071 34.7642C138.667 35.2625 138.992 35.9342 139.046 36.7792H137.042C137.02 36.465 136.868 36.1833 136.63 35.9883C136.381 35.7933 136.056 35.6958 135.644 35.6958C135.265 35.6958 134.972 35.7608 134.767 35.9125C134.572 36.0425 134.452 36.2592 134.452 36.4975C134.452 36.7792 134.593 36.9958 134.875 37.1367C135.297 37.3317 135.731 37.4833 136.186 37.5808C136.695 37.7 137.193 37.8625 137.681 38.0467C138.071 38.2092 138.428 38.4692 138.699 38.7942C138.992 39.13 139.132 39.5742 139.143 40.1267C139.154 40.5925 139.013 41.0475 138.742 41.4267C138.45 41.8275 138.049 42.1417 137.583 42.315C137.031 42.5425 136.435 42.6508 135.839 42.64C135.211 42.64 134.582 42.51 134.008 42.2608Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M140.552 36.0533C140.888 35.425 141.397 34.905 142.014 34.5475C142.664 34.1792 143.401 33.995 144.159 34.0167C145.199 34.0167 146.055 34.2767 146.727 34.7967C147.409 35.3167 147.864 36.0425 148.092 36.9742H145.817C145.708 36.6275 145.492 36.335 145.21 36.1183C144.896 35.9017 144.527 35.7933 144.148 35.8042C143.542 35.8042 143.065 36.0208 142.718 36.4542C142.372 36.8875 142.187 37.505 142.187 38.3175C142.187 39.1083 142.361 39.7258 142.718 40.1592C143.065 40.5925 143.596 40.8417 144.148 40.8092C145.004 40.8092 145.557 40.43 145.817 39.6608H148.092C147.897 40.5167 147.409 41.275 146.716 41.8167C146.033 42.3475 145.177 42.6183 144.148 42.6183C143.401 42.6292 142.664 42.445 142.003 42.0875C141.386 41.73 140.877 41.21 140.541 40.5817C139.848 39.1408 139.848 37.4725 140.552 36.0533Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M155.718 34.4392C156.217 34.7208 156.618 35.1433 156.867 35.6633C157.148 36.205 157.278 36.8442 157.278 37.6025V42.4992H155.166V37.8842C155.166 37.2233 155.003 36.7142 154.668 36.3567C154.332 35.9992 153.888 35.8258 153.313 35.8258C152.728 35.8258 152.273 35.9992 151.938 36.3567C151.602 36.7142 151.428 37.2233 151.428 37.8842V42.4992H149.316V31.3408H151.428V35.1867C151.71 34.8183 152.089 34.5258 152.512 34.3308C152.988 34.125 153.498 34.0167 154.018 34.0167C154.624 34.0167 155.209 34.1575 155.718 34.4392Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M160.528 42.0983C159.889 41.7517 159.358 41.2208 159.012 40.5817C158.633 39.8883 158.448 39.1083 158.459 38.3175C158.448 37.5267 158.643 36.7467 159.023 36.0533C159.38 35.4142 159.922 34.8833 160.572 34.5367C161.937 33.8217 163.573 33.8217 164.938 34.5367C165.588 34.8833 166.118 35.4142 166.487 36.0533C166.877 36.7467 167.072 37.5267 167.05 38.3175C167.061 39.1083 166.866 39.8883 166.476 40.5817C166.108 41.2208 165.555 41.7517 164.905 42.0983C164.223 42.4558 163.464 42.64 162.695 42.6292C161.948 42.64 161.2 42.4558 160.528 42.0983ZM163.778 40.5167C164.125 40.3217 164.407 40.0292 164.58 39.6825C164.797 39.26 164.894 38.7942 164.883 38.3283C164.883 37.5375 164.678 36.92 164.255 36.4975C163.854 36.075 163.302 35.8475 162.728 35.8583C162.153 35.8475 161.601 36.075 161.211 36.4975C160.799 36.92 160.604 37.5375 160.604 38.3283C160.604 39.1192 160.799 39.7367 161.2 40.1592C161.579 40.5817 162.132 40.8092 162.695 40.7983C163.074 40.7875 163.453 40.7008 163.778 40.5167Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M169.845 42.0983C169.206 41.7517 168.675 41.2208 168.328 40.5817C167.949 39.8883 167.765 39.1083 167.776 38.3175C167.765 37.5267 167.96 36.7467 168.339 36.0533C168.697 35.4142 169.238 34.8833 169.888 34.5367C171.253 33.8217 172.889 33.8217 174.254 34.5367C174.904 34.8833 175.435 35.4142 175.803 36.0533C176.193 36.7467 176.388 37.5267 176.367 38.3175C176.377 39.1083 176.182 39.8883 175.792 40.5817C175.424 41.2208 174.872 41.7517 174.222 42.0983C173.539 42.4558 172.781 42.64 172.012 42.6292C171.253 42.64 170.506 42.4558 169.845 42.0983ZM173.095 40.5167C173.442 40.3217 173.723 40.0292 173.897 39.6825C174.113 39.26 174.211 38.7942 174.2 38.3283C174.2 37.5375 173.994 36.92 173.572 36.4975C173.171 36.075 172.618 35.8475 172.044 35.8583C171.47 35.8475 170.917 36.075 170.527 36.4975C170.127 36.92 169.921 37.5375 169.921 38.3283C169.921 39.1192 170.116 39.7367 170.517 40.1592C170.896 40.5817 171.448 40.8092 172.012 40.7983C172.391 40.7875 172.759 40.7008 173.095 40.5167Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M179.736 31.3408V42.4883H177.623V31.3408H179.736Z'
        fill='#1D1D1B'
      ></path>
      <path
        d='M77.1442 29.64C77.1983 34.5042 73.2983 38.5017 68.4233 38.5559C63.5592 38.61 59.5617 34.71 59.5075 29.835C59.5075 29.77 59.5075 29.705 59.5075 29.64H51.1658C51.2417 39.1084 58.9767 46.735 68.4558 46.6592C77.8267 46.5834 85.3992 39.0109 85.475 29.64H77.1442Z'
        fill='#E30613'
      ></path>
    </svg>
    <a href='https://www.goomyx.com'>
      <svg
        width='146'
        height='40'
        viewBox='0 0 146 60'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M23.1197 59.9998C18.9026 60.0014 14.7249 59.1916 10.8161 57.6148C7.80744 56.3989 4.99866 54.7408 2.48327 52.6958C1.61833 51.9925 0.789521 51.2463 0 50.4599L9.06248 41.432C6.94903 39.2623 5.25766 36.721 4.07411 33.9371C3.44699 32.4594 2.96833 30.9234 2.64512 29.3517C1.98097 26.1029 1.98097 22.7541 2.64512 19.5053C3.28769 16.3807 4.54145 13.4126 6.33488 10.7704C8.99639 6.8429 12.744 3.76853 17.1238 1.91967C18.6073 1.2951 20.1492 0.818292 21.727 0.496225C23.3535 0.165811 25.0092 -0.000437528 26.6691 8.64748e-07H26.71V8.14283C25.6169 8.14525 24.5268 8.25605 23.4558 8.47359C21.3647 8.90028 19.3784 9.73289 17.6102 10.9239C16.742 11.5087 15.9318 12.1746 15.1906 12.9126C15.1534 12.9499 15.1181 12.9854 15.0858 13.018L15.0747 13.0069C14.3018 13.7874 13.6094 14.6431 13.0079 15.5612C11.8483 17.3345 11.0487 19.3169 10.6543 21.3965C10.0654 24.4869 10.3852 27.6809 11.5752 30.5945C11.9789 31.5809 12.4792 32.5251 13.069 33.4136C13.5995 34.2114 14.1991 34.9615 14.8609 35.6551L9.06207 41.4318C9.14888 41.521 9.23855 41.6118 9.32887 41.7018C11.5645 43.9305 14.2111 45.7081 17.1234 46.937C18.607 47.5616 20.1491 48.0384 21.727 48.3602C23.3534 48.6908 25.009 48.8572 26.6689 48.8569H26.7097C28.3559 48.8546 29.9976 48.6883 31.6106 48.3606C34.7475 47.7208 37.7273 46.4718 40.3798 44.685C44.3225 42.0338 47.4086 38.3004 49.2641 33.9371C49.8913 32.4594 50.37 30.9234 50.6931 29.3517C51.0246 27.7314 51.1915 26.082 51.1911 24.4285H26.669V24.5569L38.1944 36.0383C37.4143 36.805 36.5594 37.4922 35.6422 38.0897C33.8705 39.2415 31.8903 40.0379 29.8125 40.4342C26.7073 41.0289 23.4957 40.7166 20.5646 39.5349C19.5698 39.1326 18.6174 38.6331 17.7213 38.0438C16.7982 37.4359 15.9389 36.7368 15.1566 35.9571C15.0572 35.8581 14.9579 35.7566 14.8614 35.6554L46.2394 4.39713C47.0288 5.18364 47.7779 6.00928 48.4838 6.87092C53.2373 12.6757 55.8333 19.9373 55.8333 27.4286C55.8333 34.9198 53.2373 42.1814 48.4838 47.9862C47.0711 49.7107 45.4872 51.2885 43.7561 52.6959C37.9268 57.4251 30.6375 60.005 23.1196 60L23.1197 59.9998ZM38.2555 35.9777L38.323 35.9103C38.3213 35.9122 38.3195 35.9141 38.3177 35.9159L38.314 35.9195L38.2997 35.9337L38.2855 35.948L38.2763 35.9572L38.2555 35.9777Z'
          fill='#3C3C4A'
        ></path>
        <path
          d='M61.9293 32.1983C60.8893 32.1983 59.9773 31.9423 59.1933 31.4303C58.4253 30.9023 57.8333 30.1583 57.4173 29.1983C57.0013 28.2383 56.7933 27.1183 56.7933 25.8383C56.7933 24.5583 57.0013 23.4383 57.4173 22.4783C57.8333 21.5183 58.4253 20.7823 59.1933 20.2703C59.9773 19.7423 60.8893 19.4783 61.9293 19.4783C62.9693 19.4783 63.8733 19.7423 64.6413 20.2703C65.4253 20.7823 66.0253 21.5183 66.4413 22.4783C66.8573 23.4383 67.0653 24.5583 67.0653 25.8383C67.0653 27.1183 66.8573 28.2383 66.4413 29.1983C66.0253 30.1583 65.4253 30.9023 64.6413 31.4303C63.8733 31.9423 62.9693 32.1983 61.9293 32.1983ZM61.9293 31.4783C63.2253 31.4783 64.2493 30.9743 65.0013 29.9663C65.7693 28.9423 66.1533 27.5663 66.1533 25.8383C66.1533 24.1103 65.7693 22.7423 65.0013 21.7343C64.2493 20.7103 63.2253 20.1983 61.9293 20.1983C60.6333 20.1983 59.6013 20.7103 58.8333 21.7343C58.0813 22.7423 57.7053 24.1103 57.7053 25.8383C57.7053 27.5663 58.0813 28.9423 58.8333 29.9663C59.6013 30.9743 60.6333 31.4783 61.9293 31.4783ZM73.6368 32.1983C72.5968 32.1983 71.6848 31.9423 70.9008 31.4303C70.1328 30.9023 69.5408 30.1583 69.1248 29.1983C68.7088 28.2383 68.5008 27.1183 68.5008 25.8383C68.5008 24.5583 68.7088 23.4383 69.1248 22.4783C69.5408 21.5183 70.1328 20.7823 70.9008 20.2703C71.6848 19.7423 72.5968 19.4783 73.6368 19.4783C74.6768 19.4783 75.5808 19.7423 76.3488 20.2703C77.1328 20.7823 77.7328 21.5183 78.1488 22.4783C78.5648 23.4383 78.7728 24.5583 78.7728 25.8383C78.7728 27.1183 78.5648 28.2383 78.1488 29.1983C77.7328 30.1583 77.1328 30.9023 76.3488 31.4303C75.5808 31.9423 74.6768 32.1983 73.6368 32.1983ZM73.6368 31.4783C74.9328 31.4783 75.9568 30.9743 76.7088 29.9663C77.4768 28.9423 77.8608 27.5663 77.8608 25.8383C77.8608 24.1103 77.4768 22.7423 76.7088 21.7343C75.9568 20.7103 74.9328 20.1983 73.6368 20.1983C72.3408 20.1983 71.3088 20.7103 70.5408 21.7343C69.7888 22.7423 69.4128 24.1103 69.4128 25.8383C69.4128 27.5663 69.7888 28.9423 70.5408 29.9663C71.3088 30.9743 72.3408 31.4783 73.6368 31.4783ZM93.4323 19.4783C94.6003 19.4783 95.5363 19.8863 96.2403 20.7023C96.9603 21.5023 97.3203 22.5743 97.3203 23.9183V31.2143C97.3203 31.7743 97.1283 32.0543 96.7443 32.0543C96.6483 32.0543 96.5443 32.0223 96.4323 31.9583V23.9183C96.4323 22.7983 96.1523 21.9023 95.5923 21.2303C95.0483 20.5583 94.3283 20.2223 93.4323 20.2223C92.6963 20.2223 92.0403 20.4543 91.4643 20.9183C90.9043 21.3663 90.4643 21.9983 90.1443 22.8143C89.8243 23.6303 89.6643 24.5743 89.6643 25.6463V31.2143C89.6643 31.7743 89.4723 32.0543 89.0883 32.0543C88.9923 32.0543 88.8883 32.0223 88.7763 31.9583V23.9183C88.7763 22.7983 88.4963 21.9023 87.9363 21.2303C87.3923 20.5583 86.6723 20.2223 85.7763 20.2223C85.0403 20.2223 84.3843 20.4543 83.8083 20.9183C83.2483 21.3663 82.8083 21.9983 82.4883 22.8143C82.1683 23.6303 82.0083 24.5743 82.0083 25.6463V31.2143C82.0083 31.7743 81.8163 32.0543 81.4323 32.0543C81.3363 32.0543 81.2323 32.0223 81.1203 31.9583V20.4623C81.1203 19.9023 81.3123 19.6223 81.6963 19.6223C81.7923 19.6223 81.8963 19.6543 82.0083 19.7183V22.1663C82.3443 21.3663 82.8403 20.7183 83.4963 20.2223C84.1523 19.7263 84.9123 19.4783 85.7763 19.4783C86.7043 19.4783 87.4963 19.7423 88.1523 20.2703C88.8083 20.7823 89.2563 21.5023 89.4963 22.4303C89.8643 21.5023 90.3843 20.7823 91.0563 20.2703C91.7443 19.7423 92.5363 19.4783 93.4323 19.4783ZM100.69 35.5583C100.194 35.5583 99.7695 35.4543 99.4175 35.2463C99.0655 35.0383 98.8895 34.8143 98.8895 34.5743C98.8895 34.2863 99.0175 34.1423 99.2735 34.1423C99.6255 34.6063 100.082 34.8383 100.642 34.8383C101.378 34.8383 101.906 34.4303 102.226 33.6143L103.066 31.4543L98.8895 20.4863C98.8415 20.3903 98.8175 20.2863 98.8175 20.1743C98.8175 20.0143 98.8735 19.8863 98.9855 19.7903C99.1135 19.6783 99.2735 19.6223 99.4655 19.6223L103.498 30.3503L107.338 20.1743C107.466 19.8063 107.674 19.6223 107.962 19.6223C108.122 19.6223 108.266 19.6543 108.394 19.7183L103.066 33.7103C102.586 34.9423 101.794 35.5583 100.69 35.5583ZM118.415 31.2623C118.527 31.4223 118.583 31.5663 118.583 31.6943C118.583 31.9343 118.407 32.0543 118.055 32.0543L113.855 26.1983L110.111 31.5503C109.967 31.7423 109.839 31.8783 109.727 31.9583C109.615 32.0223 109.479 32.0543 109.319 32.0543C109.127 32.0543 108.975 32.0223 108.863 31.9583L113.375 25.5023L109.655 20.3423C109.575 20.2463 109.535 20.1423 109.535 20.0303C109.535 19.9023 109.583 19.8063 109.679 19.7423C109.791 19.6623 109.927 19.6223 110.087 19.6223L113.831 24.8543L117.023 20.2703C117.183 20.0303 117.327 19.8623 117.455 19.7663C117.599 19.6703 117.751 19.6223 117.911 19.6223C118.071 19.6223 118.223 19.6543 118.367 19.7183L114.311 25.5263L118.415 31.2623Z'
          fill='#3C3C4A'
        ></path>
        <path
          d='M86.8572 41.8686C87.3852 41.8686 87.8465 41.9859 88.2412 42.2206C88.6359 42.4553 88.9399 42.7886 89.1532 43.2206C89.3665 43.6526 89.4732 44.1593 89.4732 44.7406C89.4732 45.3273 89.3665 45.8393 89.1532 46.2766C88.9399 46.7086 88.6359 47.0419 88.2412 47.2766C87.8465 47.5113 87.3852 47.6286 86.8572 47.6286C86.6972 47.6286 86.4572 47.6179 86.1372 47.5966C85.8279 47.5753 85.6065 47.5646 85.4732 47.5646L85.4252 47.4606C85.5052 47.3006 85.5585 47.1139 85.5852 46.9006C85.6172 46.6873 85.6332 46.4019 85.6332 46.0446V43.4366C85.6332 43.0793 85.6172 42.7939 85.5852 42.5806C85.5585 42.3673 85.5052 42.1806 85.4252 42.0206L85.4732 41.9166C85.6865 41.9166 85.9079 41.9086 86.1372 41.8926C86.2172 41.8873 86.3159 41.8819 86.4332 41.8766C86.5559 41.8713 86.6972 41.8686 86.8572 41.8686ZM86.8732 47.3726C87.3372 47.3726 87.7399 47.2659 88.0812 47.0526C88.4279 46.8339 88.6945 46.5273 88.8812 46.1326C89.0679 45.7379 89.1612 45.2739 89.1612 44.7406C89.1612 44.2126 89.0679 43.7513 88.8812 43.3566C88.6945 42.9619 88.4279 42.6579 88.0812 42.4446C87.7399 42.2313 87.3372 42.1246 86.8732 42.1246C86.7399 42.1246 86.6172 42.1273 86.5052 42.1326C86.3932 42.1379 86.2945 42.1433 86.2092 42.1486C86.0599 42.1646 85.9185 42.1726 85.7852 42.1726C85.8865 42.4393 85.9372 42.8606 85.9372 43.4366V46.0446C85.9372 46.6313 85.8865 47.0579 85.7852 47.3246C85.9185 47.3246 86.0599 47.3326 86.2092 47.3486C86.2945 47.3539 86.3932 47.3593 86.5052 47.3646C86.6172 47.3699 86.7399 47.3726 86.8732 47.3726ZM91.8181 47.6286C91.4555 47.6286 91.1408 47.5433 90.8741 47.3726C90.6075 47.2019 90.3995 46.9566 90.2501 46.6366C90.1061 46.3166 90.0341 45.9379 90.0341 45.5006C90.0341 45.0739 90.1035 44.7033 90.2421 44.3886C90.3808 44.0686 90.5781 43.8233 90.8341 43.6526C91.0901 43.4766 91.3915 43.3886 91.7381 43.3886C92.2395 43.3886 92.6315 43.5646 92.9141 43.9166C93.2021 44.2633 93.3461 44.7273 93.3461 45.3086C93.3461 45.4206 93.3355 45.5113 93.3141 45.5806H90.3381C90.3488 46.1353 90.4848 46.5753 90.7461 46.9006C91.0075 47.2259 91.3648 47.3886 91.8181 47.3886C92.2875 47.3886 92.7035 47.2126 93.0661 46.8606C93.1195 46.8606 93.1595 46.8739 93.1861 46.9006C93.2128 46.9219 93.2261 46.9486 93.2261 46.9806C93.2261 47.0499 93.1621 47.1379 93.0341 47.2446C92.9061 47.3459 92.7355 47.4366 92.5221 47.5166C92.3088 47.5913 92.0741 47.6286 91.8181 47.6286ZM93.0421 45.3086C93.0208 44.7859 92.8981 44.3753 92.6741 44.0766C92.4501 43.7779 92.1328 43.6286 91.7221 43.6286C91.2955 43.6286 90.9595 43.7859 90.7141 44.1006C90.4741 44.4153 90.3488 44.8339 90.3381 45.3566L93.0421 45.3086ZM93.4175 43.7246C93.4015 43.6926 93.3935 43.6579 93.3935 43.6206C93.3935 43.5673 93.4121 43.5246 93.4495 43.4926C93.4921 43.4553 93.5455 43.4366 93.6095 43.4366L94.9535 47.0126L96.2335 43.6206C96.2761 43.4979 96.3455 43.4366 96.4415 43.4366C96.4948 43.4366 96.5428 43.4473 96.5855 43.4686L95.0335 47.5486H94.8735L93.4175 43.7246ZM98.5138 47.6286C98.1511 47.6286 97.8364 47.5433 97.5698 47.3726C97.3031 47.2019 97.0951 46.9566 96.9458 46.6366C96.8018 46.3166 96.7298 45.9379 96.7298 45.5006C96.7298 45.0739 96.7991 44.7033 96.9378 44.3886C97.0764 44.0686 97.2738 43.8233 97.5298 43.6526C97.7858 43.4766 98.0871 43.3886 98.4338 43.3886C98.9351 43.3886 99.3271 43.5646 99.6098 43.9166C99.8978 44.2633 100.042 44.7273 100.042 45.3086C100.042 45.4206 100.031 45.5113 100.01 45.5806H97.0338C97.0444 46.1353 97.1804 46.5753 97.4418 46.9006C97.7031 47.2259 98.0604 47.3886 98.5138 47.3886C98.9831 47.3886 99.3991 47.2126 99.7618 46.8606C99.8151 46.8606 99.8551 46.8739 99.8818 46.9006C99.9084 46.9219 99.9218 46.9486 99.9218 46.9806C99.9218 47.0499 99.8578 47.1379 99.7298 47.2446C99.6018 47.3459 99.4311 47.4366 99.2178 47.5166C99.0044 47.5913 98.7698 47.6286 98.5138 47.6286ZM99.7378 45.3086C99.7164 44.7859 99.5938 44.3753 99.3698 44.0766C99.1458 43.7779 98.8284 43.6286 98.4178 43.6286C97.9911 43.6286 97.6551 43.7859 97.4098 44.1006C97.1698 44.4153 97.0444 44.8339 97.0338 45.3566L99.7378 45.3086ZM100.931 47.5806C100.899 47.5806 100.865 47.5699 100.827 47.5486V42.0366C100.827 41.8499 100.891 41.7566 101.019 41.7566C101.051 41.7566 101.086 41.7673 101.123 41.7886V47.3006C101.123 47.4873 101.059 47.5806 100.931 47.5806ZM103.637 47.6286C103.291 47.6286 102.987 47.5433 102.725 47.3726C102.469 47.1966 102.272 46.9486 102.133 46.6286C101.995 46.3086 101.925 45.9353 101.925 45.5086C101.925 45.0819 101.995 44.7086 102.133 44.3886C102.272 44.0686 102.469 43.8233 102.725 43.6526C102.987 43.4766 103.291 43.3886 103.637 43.3886C103.984 43.3886 104.285 43.4766 104.541 43.6526C104.803 43.8233 105.003 44.0686 105.141 44.3886C105.28 44.7086 105.349 45.0819 105.349 45.5086C105.349 45.9353 105.28 46.3086 105.141 46.6286C105.003 46.9486 104.803 47.1966 104.541 47.3726C104.285 47.5433 103.984 47.6286 103.637 47.6286ZM103.637 47.3886C104.069 47.3886 104.411 47.2206 104.661 46.8846C104.917 46.5433 105.045 46.0846 105.045 45.5086C105.045 44.9326 104.917 44.4766 104.661 44.1406C104.411 43.7993 104.069 43.6286 103.637 43.6286C103.205 43.6286 102.861 43.7993 102.605 44.1406C102.355 44.4766 102.229 44.9326 102.229 45.5086C102.229 46.0846 102.355 46.5433 102.605 46.8846C102.861 47.2206 103.205 47.3886 103.637 47.3886ZM106.236 48.7006C106.204 48.7006 106.169 48.6899 106.132 48.6686V43.7166C106.132 43.5299 106.196 43.4366 106.324 43.4366C106.356 43.4366 106.391 43.4473 106.428 43.4686V44.2366C106.583 43.9699 106.78 43.7619 107.02 43.6126C107.26 43.4633 107.535 43.3886 107.844 43.3886C108.329 43.3886 108.713 43.5673 108.996 43.9246C109.284 44.2819 109.428 44.7753 109.428 45.4046C109.428 45.8473 109.356 46.2366 109.212 46.5726C109.068 46.9086 108.863 47.1699 108.596 47.3566C108.335 47.5379 108.025 47.6286 107.668 47.6286C107.396 47.6286 107.156 47.5779 106.948 47.4766C106.74 47.3699 106.567 47.2313 106.428 47.0606V48.4206C106.428 48.6073 106.364 48.7006 106.236 48.7006ZM107.668 47.3886C108.121 47.3886 108.476 47.2099 108.732 46.8526C108.993 46.4899 109.124 46.0073 109.124 45.4046C109.124 44.8446 109.012 44.4099 108.788 44.1006C108.564 43.7859 108.249 43.6286 107.844 43.6286C107.572 43.6286 107.327 43.7006 107.108 43.8446C106.895 43.9833 106.727 44.1779 106.604 44.4286C106.487 44.6739 106.428 44.9539 106.428 45.2686V46.1966C106.428 46.5593 106.545 46.8499 106.78 47.0686C107.02 47.2819 107.316 47.3886 107.668 47.3886ZM114.318 43.3886C114.707 43.3886 115.019 43.5246 115.254 43.7966C115.494 44.0633 115.614 44.4206 115.614 44.8686V47.3006C115.614 47.4873 115.55 47.5806 115.422 47.5806C115.39 47.5806 115.355 47.5699 115.318 47.5486V44.8686C115.318 44.4953 115.225 44.1966 115.038 43.9726C114.857 43.7486 114.617 43.6366 114.318 43.6366C114.073 43.6366 113.854 43.7139 113.662 43.8686C113.475 44.0179 113.329 44.2286 113.222 44.5006C113.115 44.7726 113.062 45.0873 113.062 45.4446V47.3006C113.062 47.4873 112.998 47.5806 112.87 47.5806C112.838 47.5806 112.803 47.5699 112.766 47.5486V44.8686C112.766 44.4953 112.673 44.1966 112.486 43.9726C112.305 43.7486 112.065 43.6366 111.766 43.6366C111.521 43.6366 111.302 43.7139 111.11 43.8686C110.923 44.0179 110.777 44.2286 110.67 44.5006C110.563 44.7726 110.51 45.0873 110.51 45.4446V47.3006C110.51 47.4873 110.446 47.5806 110.318 47.5806C110.286 47.5806 110.251 47.5699 110.214 47.5486V43.7166C110.214 43.5299 110.278 43.4366 110.406 43.4366C110.438 43.4366 110.473 43.4473 110.51 43.4686V44.2846C110.622 44.0179 110.787 43.8019 111.006 43.6366C111.225 43.4713 111.478 43.3886 111.766 43.3886C112.075 43.3886 112.339 43.4766 112.558 43.6526C112.777 43.8233 112.926 44.0633 113.006 44.3726C113.129 44.0633 113.302 43.8233 113.526 43.6526C113.755 43.4766 114.019 43.3886 114.318 43.3886ZM118.073 47.6286C117.71 47.6286 117.396 47.5433 117.129 47.3726C116.862 47.2019 116.654 46.9566 116.505 46.6366C116.361 46.3166 116.289 45.9379 116.289 45.5006C116.289 45.0739 116.358 44.7033 116.497 44.3886C116.636 44.0686 116.833 43.8233 117.089 43.6526C117.345 43.4766 117.646 43.3886 117.993 43.3886C118.494 43.3886 118.886 43.5646 119.169 43.9166C119.457 44.2633 119.601 44.7273 119.601 45.3086C119.601 45.4206 119.59 45.5113 119.569 45.5806H116.593C116.604 46.1353 116.74 46.5753 117.001 46.9006C117.262 47.2259 117.62 47.3886 118.073 47.3886C118.542 47.3886 118.958 47.2126 119.321 46.8606C119.374 46.8606 119.414 46.8739 119.441 46.9006C119.468 46.9219 119.481 46.9486 119.481 46.9806C119.481 47.0499 119.417 47.1379 119.289 47.2446C119.161 47.3459 118.99 47.4366 118.777 47.5166C118.564 47.5913 118.329 47.6286 118.073 47.6286ZM119.297 45.3086C119.276 44.7859 119.153 44.3753 118.929 44.0766C118.705 43.7779 118.388 43.6286 117.977 43.6286C117.55 43.6286 117.214 43.7859 116.969 44.1006C116.729 44.4153 116.604 44.8339 116.593 45.3566L119.297 45.3086ZM120.475 47.5806C120.443 47.5806 120.408 47.5699 120.371 47.5486V43.7166C120.371 43.5299 120.435 43.4366 120.563 43.4366C120.595 43.4366 120.629 43.4473 120.667 43.4686V44.2846C120.779 44.0179 120.947 43.8019 121.171 43.6366C121.395 43.4713 121.661 43.3886 121.971 43.3886C122.381 43.3886 122.707 43.5219 122.947 43.7886C123.192 44.0553 123.315 44.4153 123.315 44.8686V47.3006C123.315 47.4873 123.251 47.5806 123.123 47.5806C123.091 47.5806 123.056 47.5699 123.019 47.5486V44.8686C123.019 44.4899 122.923 44.1913 122.731 43.9726C122.544 43.7486 122.291 43.6366 121.971 43.6366C121.709 43.6366 121.48 43.7139 121.283 43.8686C121.085 44.0179 120.933 44.2286 120.827 44.5006C120.72 44.7726 120.667 45.0873 120.667 45.4446V47.3006C120.667 47.4873 120.603 47.5806 120.475 47.5806ZM125.657 47.1086C125.742 47.1086 125.785 47.1513 125.785 47.2366C125.785 47.3273 125.726 47.4073 125.609 47.4766C125.497 47.5459 125.358 47.5806 125.193 47.5806C124.979 47.5806 124.814 47.5166 124.697 47.3886C124.585 47.2553 124.529 47.0686 124.529 46.8286V43.7086H123.945C123.929 43.6766 123.921 43.6473 123.921 43.6206C123.921 43.5726 123.939 43.5353 123.977 43.5086C124.019 43.4819 124.078 43.4686 124.153 43.4686H124.529V42.7086C124.529 42.5219 124.593 42.4286 124.721 42.4286C124.753 42.4286 124.787 42.4393 124.825 42.4606V43.4686H125.761C125.777 43.5006 125.785 43.5299 125.785 43.5566C125.785 43.6046 125.763 43.6419 125.721 43.6686C125.683 43.6953 125.627 43.7086 125.553 43.7086H124.825V46.7966C124.825 46.9726 124.857 47.1086 124.921 47.2046C124.99 47.2953 125.091 47.3406 125.225 47.3406C125.417 47.3406 125.561 47.2633 125.657 47.1086ZM128.843 47.6286C128.592 47.6286 128.366 47.5939 128.163 47.5246C127.966 47.4499 127.811 47.3646 127.699 47.2686C127.587 47.1673 127.531 47.0873 127.531 47.0286C127.531 46.9326 127.584 46.8846 127.691 46.8846C127.835 47.0446 128.006 47.1699 128.203 47.2606C128.4 47.3459 128.608 47.3886 128.827 47.3886C129.131 47.3886 129.374 47.3086 129.555 47.1486C129.742 46.9886 129.835 46.7753 129.835 46.5086C129.835 46.2793 129.752 46.0899 129.587 45.9406C129.427 45.7859 129.147 45.6419 128.747 45.5086C128.326 45.3646 128.027 45.2073 127.851 45.0366C127.68 44.8659 127.595 44.6526 127.595 44.3966C127.595 44.0873 127.702 43.8419 127.915 43.6606C128.128 43.4793 128.414 43.3886 128.771 43.3886C129.006 43.3886 129.216 43.4259 129.403 43.5006C129.59 43.5699 129.736 43.6553 129.843 43.7566C129.955 43.8526 130.011 43.9299 130.011 43.9886C130.011 44.0846 129.958 44.1326 129.851 44.1326C129.702 43.9619 129.542 43.8366 129.371 43.7566C129.2 43.6713 129.008 43.6286 128.795 43.6286C128.512 43.6286 128.291 43.6953 128.131 43.8286C127.976 43.9619 127.899 44.1406 127.899 44.3646C127.899 44.5726 127.982 44.7459 128.147 44.8846C128.312 45.0179 128.603 45.1566 129.019 45.3006C129.424 45.4446 129.712 45.6073 129.883 45.7886C130.054 45.9699 130.139 46.2046 130.139 46.4926C130.139 46.8499 130.024 47.1299 129.795 47.3326C129.566 47.5299 129.248 47.6286 128.843 47.6286ZM132.263 47.1086C132.348 47.1086 132.391 47.1513 132.391 47.2366C132.391 47.3273 132.332 47.4073 132.215 47.4766C132.103 47.5459 131.964 47.5806 131.799 47.5806C131.585 47.5806 131.42 47.5166 131.303 47.3886C131.191 47.2553 131.135 47.0686 131.135 46.8286V43.7086H130.551C130.535 43.6766 130.527 43.6473 130.527 43.6206C130.527 43.5726 130.545 43.5353 130.583 43.5086C130.625 43.4819 130.684 43.4686 130.759 43.4686H131.135V42.7086C131.135 42.5219 131.199 42.4286 131.327 42.4286C131.359 42.4286 131.393 42.4393 131.431 42.4606V43.4686H132.367C132.383 43.5006 132.391 43.5299 132.391 43.5566C132.391 43.6046 132.369 43.6419 132.327 43.6686C132.289 43.6953 132.233 43.7086 132.159 43.7086H131.431V46.7966C131.431 46.9726 131.463 47.1086 131.527 47.2046C131.596 47.2953 131.697 47.3406 131.831 47.3406C132.023 47.3406 132.167 47.2633 132.263 47.1086ZM134.263 47.6286C133.858 47.6286 133.535 47.4979 133.295 47.2366C133.055 46.9699 132.935 46.6126 132.935 46.1646V43.7166C132.935 43.5299 132.999 43.4366 133.127 43.4366C133.159 43.4366 133.194 43.4473 133.231 43.4686V46.1646C133.231 46.5379 133.325 46.8339 133.511 47.0526C133.698 47.2713 133.949 47.3806 134.263 47.3806C134.519 47.3806 134.743 47.3059 134.935 47.1566C135.133 47.0019 135.285 46.7886 135.391 46.5166C135.498 46.2446 135.551 45.9299 135.551 45.5726V43.7166C135.551 43.5299 135.615 43.4366 135.743 43.4366C135.775 43.4366 135.81 43.4473 135.847 43.4686V47.3006C135.847 47.4873 135.783 47.5806 135.655 47.5806C135.623 47.5806 135.589 47.5699 135.551 47.5486V46.7326C135.439 46.9993 135.271 47.2153 135.047 47.3806C134.829 47.5459 134.567 47.6286 134.263 47.6286ZM138.214 47.6286C137.729 47.6286 137.342 47.4499 137.054 47.0926C136.771 46.7353 136.63 46.2419 136.63 45.6126C136.63 45.1699 136.702 44.7806 136.846 44.4446C136.99 44.1086 137.193 43.8499 137.454 43.6686C137.721 43.4819 138.033 43.3886 138.39 43.3886C138.662 43.3886 138.902 43.4419 139.11 43.5486C139.318 43.6499 139.491 43.7859 139.63 43.9566V42.0366C139.63 41.8499 139.694 41.7566 139.822 41.7566C139.854 41.7566 139.889 41.7673 139.926 41.7886V47.3006C139.926 47.4873 139.862 47.5806 139.734 47.5806C139.702 47.5806 139.667 47.5699 139.63 47.5486V46.7806C139.475 47.0473 139.278 47.2553 139.038 47.4046C138.798 47.5539 138.523 47.6286 138.214 47.6286ZM138.214 47.3886C138.486 47.3886 138.729 47.3193 138.942 47.1806C139.161 47.0366 139.329 46.8419 139.446 46.5966C139.569 46.3459 139.63 46.0633 139.63 45.7486V44.8206C139.63 44.4579 139.51 44.1699 139.27 43.9566C139.035 43.7379 138.742 43.6286 138.39 43.6286C137.937 43.6286 137.579 43.8099 137.318 44.1726C137.062 44.5299 136.934 45.0099 136.934 45.6126C136.934 46.1726 137.046 46.6099 137.27 46.9246C137.494 47.2339 137.809 47.3886 138.214 47.3886ZM141.176 42.6606C141.112 42.6606 141.059 42.6419 141.016 42.6046C140.979 42.5619 140.96 42.5086 140.96 42.4446C140.96 42.3806 140.979 42.3299 141.016 42.2926C141.059 42.2499 141.112 42.2286 141.176 42.2286C141.24 42.2286 141.294 42.2499 141.336 42.2926C141.379 42.3299 141.4 42.3806 141.4 42.4446C141.4 42.5086 141.379 42.5619 141.336 42.6046C141.294 42.6419 141.24 42.6606 141.176 42.6606ZM141.136 47.5806C141.104 47.5806 141.07 47.5699 141.032 47.5486V43.7166C141.032 43.5299 141.096 43.4366 141.224 43.4366C141.256 43.4366 141.291 43.4473 141.328 43.4686V47.3006C141.328 47.4873 141.264 47.5806 141.136 47.5806ZM143.842 47.6286C143.496 47.6286 143.192 47.5433 142.93 47.3726C142.674 47.1966 142.477 46.9486 142.338 46.6286C142.2 46.3086 142.13 45.9353 142.13 45.5086C142.13 45.0819 142.2 44.7086 142.338 44.3886C142.477 44.0686 142.674 43.8233 142.93 43.6526C143.192 43.4766 143.496 43.3886 143.842 43.3886C144.189 43.3886 144.49 43.4766 144.746 43.6526C145.008 43.8233 145.208 44.0686 145.346 44.3886C145.485 44.7086 145.554 45.0819 145.554 45.5086C145.554 45.9353 145.485 46.3086 145.346 46.6286C145.208 46.9486 145.008 47.1966 144.746 47.3726C144.49 47.5433 144.189 47.6286 143.842 47.6286ZM143.842 47.3886C144.274 47.3886 144.616 47.2206 144.866 46.8846C145.122 46.5433 145.25 46.0846 145.25 45.5086C145.25 44.9326 145.122 44.4766 144.866 44.1406C144.616 43.7993 144.274 43.6286 143.842 43.6286C143.41 43.6286 143.066 43.7993 142.81 44.1406C142.56 44.4766 142.434 44.9326 142.434 45.5086C142.434 46.0846 142.56 46.5433 142.81 46.8846C143.066 47.2206 143.41 47.3886 143.842 47.3886Z'
          fill='#08C9D3'
        ></path>
      </svg>
    </a>

  </div>
</p>